appdirs==1.4.2
chardet==2.3.0
cssselect==1.0.0
cssutils==1.0.1
diff-match-patch==20121119
dj-database-url==0.4.1
Django==1.10.3
django-filter==1.0.1
docker==2.1.0
docker-pycreds==0.2.1
graphene==1.2
graphene-django==1.2.1
graphql-core==1.0.1
graphql-relay==0.4.5
iso8601==0.1.11
packaging==16.8
promise==1.0.1
pyparsing==2.1.10
requests==2.13.0
singledispatch==3.4.0.3
six==1.10.0
typing==3.5.3.0
websocket-client==0.40.0
