body {
  background: linear-gradient(rgba(60, 18, 28, 0.45), rgba(60, 18, 28, 0.45)), url(background.png);
  background-size: cover;
}

#top {
  text-align: center;
  font-size: 2.5em;
  color: #ffffff;
  margin: 0.5rem;
}

.container {
  min-height: 100vh;

  #tweet {

    #card {
      min-height: 20vh;
      max-height: 55vh;
      background: white;
      border-radius: 8px;
      overflow: hidden;
      border: white solid 1rem;

      #text {
        font-size: xx-large;
        text-align: center;
      }

      // Give margin between text and media
      #text + #media {
        margin-left: 1rem;
        max-width: 50%;
      }
    }

    #author {
      margin-top: 2rem;
      img {
      }
      #name {
        color: white;
        font-size: xx-large;
      }
    }

  }

  #sponsors {
    img + img {
      margin-left: 2rem;
    }
  }
}
